@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-nav.ms-auto li a {
    color: #FFFFFF;
    font-weight:500;
}

.navbar-nav.ms-auto a:hover,
.navbar-nav.ms-auto a:active{
    color: #a21f11;
}

.navbar-nav.ms-auto a:focus{
    color: #a21f11;
    text-decoration: underline;
}

#EquiposTabla {
    padding: 0;
    margin: 0;
}

.list{
    list-style:none;
}

table tr td a { 
    display:block; 
    height:100%; 
    width:100%; 
}

table tr td { 
    padding-left: 0; 
    padding-right: 0; 
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.back {
    background-color: #F32811;
    color: #FFFFFF;
}

.horario{
    font-size: 35px;
}

#barraPrincipal{
    background-color:#000000;
}

#partidosHoy{
    background-color: #0D14E2;
     color: white;
    font-weight: bold;
}

#tablaPartidos{
    background-color: white;
}

.imgEquipos{
    width: 75px;
}

#pie{
    background-color:#24242c;
    color: white;
    display: block;
}

#imgPie{
    width: 30px;
}

#contacto{
    text-align: right;
    
}

#lista{
    list-style-type: none;
    list-style: none;
}

.p-5{
    color: white;
}

#texto1{
    background-image: url("/ProyectoWeb/src/main/recursos/img/basket.gif");
    background-repeat: no-repeat; 
    background-size: 60px;
    vertical-align: middle;
    background-position-y: center; 
    background-position-x: 530px;
}

body{
    font-family:'Roboto';
    flex-wrap: wrap;
}


/*Resultados*/
#contResult{
    margin-top: 0px;
}

.enlaces2:hover
.enlaces2:active{
    color: #a21f11;
}

.enlaces2:focus{
    color: #a21f11;
    text-decoration: underline;
}

/* Estadisticas */
.p-e{
    margin-top: 62px;
}