@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-nav.ms-auto li a {
    color: #FFFFFF;
    font-weight:500;
}

.navbar-nav.ms-auto a:hover{
    color: #a21f11;
}

.navbar-nav.ms-auto a:active{
    color: #a21f11;
}

.navbar-nav.ms-auto a:focus{
    color: #a21f11;
    text-decoration: underline;
}

#EquiposTabla {
    padding: 0;
    margin: 0;
}

.list{
    list-style:none;
}

table tr td a { 
    display:block; 
    height:100%; 
    width:100%; 
}

table tr td { 
    padding-left: 0; 
    padding-right: 0; 
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.back {
    background-color: #F32811;
    color: #FFFFFF;
}

.horario{
    font-size: 35px;
}

#barraPrincipal{
    background-color:#000000;
}

#partidosHoy{
    background-color: #0D14E2;
     color: white;
    font-weight: bold;
}

#tablaPartidos{
    background-color: white;
}

.imgEquipos{
    width: 75px;
}

#pie{
    background-color:#24242c;
    color: white;
    display: block;
}

#imgPie{
    width: 30px;
}

#contacto{
    text-align: right;
    
}

#lista{
    list-style-type: none;
    list-style: none;
}

.p-5{
    color: white;
}

#texto1{
    background-image: url("/ProyectoWeb/src/main/recursos/img/basket.gif");
    background-repeat: no-repeat; 
    background-size: 60px;
    vertical-align: middle;
    background-position-y: center; 
    background-position-x: 530px;
}

body{
    font-family:'Roboto';
}


/*Resultados*/
.contTiempo{
    background-color: gray;
    margin-top: 20px;
}
.barraTiempo{
    padding: 10px;
}
.nav-link.enlaces2{
    color: black;
}
.nav-link.enlaces2:hover, 
.nav-link.enlaces2:focus{
    color: rgb(158, 63, 63);
    text-decoration: underline;
    display: block;
}
.btn:hover,
.btn:focus{
    background-color: #05009A;
    border-color: #05009A;
}
.btn{
    background-image: url(/ProyectoWeb/src/main/recursos/img/iconoCalendario.png);
    background-size: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-left: 29px;
    background-position-y: center;
    background-position-x: 5px;
}


.parrafo2{
    background-color: #000000;
    color: #FFFFFF;
}